.nin-wrapper {
  width: 100vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nin-wi {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #e60012;
  overflow: hidden;
}

.WELCOME-SAMUS {
  position: absolute;
  top: -5%;
  left: -3%;
  background-image: url(./welcome/WI-Samus-.png);
  width: 680px;
  height: 730px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadein 3s;
}

.WELCOME-SSBU {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(./welcome/WI-SSBU.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  animation: fadein 7s;
}

.WELCOME-Link {
  position: absolute;
  top: -5%;
  right: 8%;
  background-image: url(./welcome/WI-Link.webp);
  width: 600px;
  height: 700px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadein 4s;
}

.WELCOME-MARIO {
  position: absolute;
  top: -3%;
  right: -10%;
  background-image: url(./welcome/WI-MARIO.webp);
  width: 530px;
  height: 570px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  animation: fadein 5s;
}

.WELCOME-Alear {
  position: absolute;
  left: -3%;
  bottom: -10%;
  background-image: url(./welcome/WI-Alear-.png);
  width: 632px;
  height: 810px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  animation: fadein 4.5s;
}

.WELCOME-Inkling {
  position: absolute;
  left: 8%;
  bottom: -5%;
  background-image: url(./welcome/WI-Inkling-.png);
  width: 600px;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
  animation: fadein 5.5s;
}

.WELCOME-Logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(./welcome/logo_nin.gif);
  width: 244px;
  height: 58px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadein 2s;
}

.WELCOME-Kirby {
  position: absolute;
  left: 50%;
  bottom: -8%;
  transform: translateX(-50%);
  background-image: url(./welcome/WI-Kirby.png);
  width: 600px;
  height: 485px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 4;
  animation: fadein 6.5s;
}

.WELCOME-villager {
  position: absolute;
  right: 9%;
  bottom: -8%;
  background-image: url(./welcome/WI-villager.png);
  width: 450px;
  height: 580px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
  animation: fadein 6s;
}

.WELCOME-pikachu {
  position: absolute;
  right: -18%;
  bottom: -8%;  
  background-image: url(./welcome/WI-pikachu-.png);
  width: 700px;
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 4;
  animation: fadein 5s;
}


@keyframes fadein {
  from {
      opacity: 0;
      scale: 1.05;
  }
  to {
      opacity: 1;
      scale: 1;
  }
}

.modalback {
  position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
}

.nin-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100vh;
  box-shadow: 5px 5px 5px gray;
  border-radius: 15px;
  z-index: 10;
  animation: modal 0.5s;
}

@keyframes modal {
  from {
    scale: .95;
  }
  to {
    scale: 1;
  }
}


@media screen and (max-width : 768px) {
  .WELCOME-SSBU {
    top: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 400px;
  }

  .WELCOME-SAMUS {
    background-image: url(./welcome/metroid-icon.png);
    top: 10px;
    left: 5px;
    width: 25%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .WELCOME-Link {
    background-image: url(./welcome/zelda-icon.png);
    top: 10px;
    right: 5px;
    width: 30%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .WELCOME-MARIO {
    background-image: url(./welcome/mario-icon.webp);
    top: 250px;
    left: 5px;
    width: 25%;
    height: 190px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .WELCOME-Alear {
    background-image: url(./welcome/FE-icon.png);
    top: 500px;
    left: 5px;
    width: 24%;
    height: 185px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .WELCOME-Inkling {
    background-image: url(./welcome/splatoon-icon.png);
    left: 5px;
    bottom:5px;
    width: 25%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .WELCOME-Kirby {
    background-image: url(./welcome/kirby-icon.png);
    top: 250px;
    right: 5px;
    transform: translateX(90%);
    width: 25%;
    height: 190px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .WELCOME-villager { 
    background-image: url(./welcome/ac-ICON.png);
    top: 500px;
    right: 7px;
    width: 25%;
    height: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .WELCOME-pikachu {
    background-image: url(./welcome/pokemon-icon.webp);
    right: 5px;
    bottom: 5px;  
    width: 26%;
    height: 195px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @keyframes fadein {
    from {
        scale: 4;
    }
    to {
        scale: 1;
    }
  }
}