.post-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../public/imgSbk930123/signupbgi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-item-wrapper {
  height: 70%;
  width: 50%;
  background-color: #fff;
  overflow: scroll;
  text-align: start;
}

.detail-item {
  display: flex;
  align-items: center;
  padding: 15px 10px 10px 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(0, 0, 0, .5);;
}

.detail-item-txt {
  padding: 35px 20px 20px 20px;
}

.back-btn {
  position: absolute;
  bottom: 4%;
  border: 1px solid rgb(0, 0, 0, .5);
  height: 10%;
  width: 30%;
  padding: 20px 0;
  font-size: 25px;
  margin-top: 34px;
  background-color: #0070D1;
  color: #fff;
}